#indexTwo {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
}

.Tcont-one {
    width: 100%;
    height: 117px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Tcont-border {
    height: 100%;
    box-sizing: border-box;
    background: rgba(19, 74, 176, 0.64);
    border: 4px solid #1281ff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.Tcont-border ul {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    color: #FFFFFF;

}

.Tcont-border ul li {
    flex: 1;
    line-height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.Tcont-border ul li span {
    flex: 1;
}

.Tcont-border ul li:nth-of-type(2) span:nth-of-type(1) {
    font-family: SourceHanSansCN, SourceHanSansCN-Heavy;
    font-weight: 800;
    font-size: 32px;
    color: #FFCC00;
}

.Tcont-border ul li:nth-of-type(2) span:nth-of-type(2) {
    font-size: 20px;
    line-height: 32px;
    margin-left: 5px;
}

.Tcont-border ul li.twotit {
    flex-direction: column;
    align-items: center;
}

.Tcont-border ul li.twotit span {
    line-height: 24px;
}

.Tcont-one-left {
    width: 544px;
}

.Tcont-one-center {
    width: 973px;
}

.Tcont-one-right {
    width: 251px;
}

.Tcont-two {
    width: 100%;
    height: 124px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Tcont-two-left {
    width: 968px;
}

.Tcont-two-center {
    width: 550px;
}

.Tcont-two-right {
    width: 251px;
}

.Tcont-three {
    width: 100%;
    height: 238px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Tcont-bar {
    flex-direction: column;
    align-items: flex-start;
}

.Tcont-tittle {
    padding: 20px 0px 0px 22px;
    height: 22px;
    line-height: 22px;
    font-size: 22px;
    color: #FFFFFF;
}

.Tcont-three-left {
    width: 705px;
}

.Tcont-three-center {
    width: 546px;
}

.Tcont-three-center ul {
    width: 538px;
    height: 188px;
}

.Tcont-three-right {
    width: 537px;
}

.Tcont-three-right ul {
    width: 529px;
    height: 188px;
}

.Tcont-four {
    width: 100%;
    height: 409px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Tcont-four-left {
    width: 1067px;
}

.Tcont-four-right {
    width: 722px;
}